    /*general styles*/
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "montserrat", sans-serif;
        font-weight: 400;
        font-style: normal;
        overflow-x: hidden;
        color: #e2e2e2;
    }

    a {
        text-decoration: none;
    }


.fullscreen-menu {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(26, 26, 26);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.fullscreen-menu.active {
  visibility: visible;
  opacity: 1;
}

.menu-content {
  text-align: center;
  
}

.menu-links li{
    margin: 30px;
}

.menu-links a{
    font-size: 15px;
    transition: all 300ms ease;
    margin: 20px, 30px;
    text-transform: uppercase;

}


.menu-links a:hover {
    color: #774caf;

}

.menu-text {
    position: fixed;
    bottom: 10px;
}



.brand.active {
    opacity: 1;
}



    /* fade everything in together */
    body {
    opacity: 0;
        transition: opacity 1s ease;
    }

    body.loaded {
        opacity: 1;
    }


     /*fade in effect*/
    .fade-in-right {
        opacity: 0;
        transform: translateX(50px); 
        transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
    }

    .fade-in-left {
        opacity: 0; 
        transform: translateX(-50px); 
        transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
    }

    .fade-in-up {
        opacity: 0;
        transform: translateY(45px); 
        transition: opacity 0.6s ease-out, transform 0.6s ease-out; 
    }

    .fade-in-left.visible, .fade-in-right.visible, .fade-in-up.visible {
        opacity: 1; 
        transform: translateX(0); 
    }





/* Navbar */
  .navbar {
        text-transform: uppercase;
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        transition: all 300ms ease;
        z-index: 10;
    }


    .nav-links {
        opacity: 0;
    }


   .brand {
        opacity: 0;
    }


    
    .brand-logo, .brand-logo.scrolled{
        opacity: 1;
        z-index: 100;
        width: 50px;
        height: auto;
        position: fixed;
        left: 30px;
        top: 40px;
        transition: all 300ms ease;
    }

    .hamburger, .hamburger.scrolled{
        opacity: 1;
        z-index: 100;
        font-size: 25px;
        position: fixed;
        right: 30px;
        top: 42px;
        transition: all 300ms ease;
        z-index: 100;
        cursor: pointer;
        color: white;
    }


  





    /*footer*/
    .footer {
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: #222; /* Darker background */
        color: white; /* White text */
        font-family: "Montserrat", sans-serif;
    }

    .newsletter {
        text-align: center;
        padding-top: 30PX;
        overflow: hidden;
    }

    .newsletter h2 {
        font-size: 25px;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .newsletter p {
        margin-bottom: 20px;
        font-size: 10px;
    }

    .newsletter-form {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .email-input {
        padding: 10px;
        font-size: 10px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #333; /* Even darker background for the input */
        color: white;
    }

    .signup-btn {
        padding: 8px 15px;
        font-size: 10px;
        background-color: white; /* White button */
        color: #333; /* Dark text color for the button */
        border: 2px solid white; /* White border */
        border-radius: 5px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .signup-btn:hover {
        background-color: #333; /* Black background on hover */
        color: white; /* White text */
        border: 2px solid white; /* White border remains */
    }

    .privacy {        
        color: #bbb; /* Lighter text color for privacy notice */
        font-size: 8px;
    }

    .divider {
        border: 1px solid #ffffff; /* Darker divider line */
        width: 100vh;
        align-self: center;
    }

    .social-media {
        text-align: center;
    }

    .social-media h3 {
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 20px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .social-icon {
        font-size: 10px;
        text-decoration: none;
        color: white; /* White icons */
        transition: all 300MS;
    }

    .social-icon:hover {
        color: #774caf; /* Change color on hover */
    }

    .footer-text {
        font-size: 8px;
        text-align: center;
        color: #bbb; /* Lighter text for the footer copyright */
        margin-bottom: 10px;
    }








@media (min-width: 756px) {
    .nav-links {
        opacity: 0;
    }

    .menu-links {
        font-size: 20px;
    }

    .menu-text {
        font-size: 12px;
    }

    .navbar.scrolled {
        opacity: 0;
    }

    .hamburger{
        opacity: 1;
        z-index: 100;
        font-size: 30px;
        position: fixed;
        right: 60px;
        top: 45px;
    }

    .hamburger.scrolled {
                opacity: 1;
        z-index: 100;
        font-size: 30px;
        position: fixed;
        right: 60px;
        top: 45px;
    }

    .brand {
        font-weight: 600;
        font-size: 30px;
        position: fixed;
        opacity: 1;
    }

    .brand-logo {
        position: fixed;
        opacity: 0;
        top: 40px;
        left: 70px;
        transition: all 300ms ease;
        z-index: 100;
        width: 25px;
        height: auto;
    }

    .brand-logo.scrolled {
        opacity: 1;
        z-index: 100;
        width: 60px;
        height: auto;

    }
}








@media (min-width: 1200px) {
 
    /*Navbar*/
    .navbar {
        text-transform: uppercase;
        position: absolute;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        padding: 30px;
        transition: all 300ms ease;
        z-index: 10;
    }

    .menu-links {
        font-size: 25px;
    }

    .menu-text {
        font-size: 15px;
    }

    .navbar.scrolled {
        opacity: 0;
    }


    .nav-links {
        opacity: 1;
        display: flex;
        position: fixed;
        right: 10px;
        margin-top: 20px;
    }

    .nav-links a {
        margin-right: 40px;
        transition: all 300ms ease;
        position: relative;
    }


    .nav-links a::before {
        content: '';
        position: absolute;
        bottom: 0; 
        left: 50%; 
        width: 0; 
        height: 2px; 
        background-color: #ffffff; 
        transition: width 0.3s ease, left 0.3s ease; 
    }

    .nav-links a:hover::before {
        width: 100%; 
        left: 0; 
    }

    .hamburger {
        opacity: 0;
        color: white;
        position: fixed;
        top: 50px;
        right: 70px;
        transition: all 300ms ease;
        z-index: 100;
        cursor: pointer;
    }

    .hamburger.scrolled {
        opacity: 1;
        z-index: 100;
        font-size: 30px;
    }

    .brand {
        font-weight: 600;
        font-size: 30px;
        position: fixed;
        opacity: 1;
    }

    .brand-logo {
        position: fixed;
        opacity: 0;
        top: 50px;
        left: 70px;
        transition: all 300ms ease;
        z-index: 100;
        width: 30px;
        height: auto;
    }

    .brand-logo.scrolled {
        opacity: 1;
        z-index: 100;
        width: 60px;
        height: auto;

    }


        /*footer*/
    .footer {
        height: 50vh;
        padding-top: 20px;
      }



    .newsletter h2 {
        font-size: 30px;
    }

    .newsletter p {
        font-size: 15px;
    }

 
    .email-input {
        font-size: 15px;
    }

    .signup-btn {
        padding: 10px 25px;
        font-size: 10px;
        background-color: white; /* White button */
        }

    .privacy {        
        font-size: 14px;
    }

    .social-media h3 {
        font-size: 30px;
    }

    .social-icon {
        font-size: 15px;
    }

    .footer-text {
        font-size: 10px;

    }

}

