/*hero section*/
.hero {
    /* Background image */
    background-image: url('vince.jpg');
    height: 100vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    z-index: 1; 
    width: 75vw;
}

.hero-text h1 {
    font-size: clamp(1.75rem, 5vw, 3rem); 
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
    color: white;
}

.hero-text p {
  font-size: clamp(1.125rem, 3.5vw, 2rem);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}




/*mission section*/
.mission {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission img {
    max-width: 700px;
    width: clamp(25rem, 50vw, 80rem); ;
}





/*events section*/
.event {
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;
  background-color: rgb(233, 233, 233);
}

.slider {
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 1em;
  width: 800px;

  box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    -webkit-tap-highlight-color: transparent;
    background-color: white;

}

.img-container {
  display: flex;
  transition: transform 300ms ease-in-out;
}

.img-container img {
  width: 100%;
}

.fa-solid {
  cursor: pointer;
  color: rgb(0, 0, 0);
  position: absolute;
  opacity: 0.75;
  transition: opacity 100ms ease-in-out;
  z-index: 100;
}

.fa-solid:hover {
  opacity: 1;
}

.previous {
  left: 5rem;
}

.next {
  right: 5rem;
}











@media (min-width: 756px) {


    .events-text {
        margin-bottom: 8vh;
    }


    .event {
        margin-bottom: 8vh;
    }

}






@media (min-width: 1200px) {
    /*hero section*/

.events-text {
    margin-bottom: 8vh;
}


}



