/*hero section*/
.hero {
    /* Background image */
    background-image: url('George\(w\).jpg');
    height: 70vh;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-text {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    z-index: 1; 
    width: 75vw;
}

.hero-text h1 {
    font-size: 30px; 
    font-weight: 700;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); 
}

.hero-text p {
    font-size: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 1);
}

.left{
    margin-right: 20px;
        width: 11px;
}

.right {
    margin-left: 20px;
        width: 7px;
}





     
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1500px; 
    background-color: #f4f4f4;
}

.container h2 {
    font-size: 13px;
    margin-bottom: 10px;
    font-weight: 600;
    color: #181818;
}

.container h4 {
    font-size: 10px;
    margin-bottom: 10px;
    font-weight: 200;
    color: #181818;
}


.container h3 {
    margin-top: 40px;
    font-weight: 700;
    font-size: 10px;    
    margin-bottom: 15px;
    color: #181818;
}        
        
.container {
    background: #fff;
    max-width: 90vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 60px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-width: 250px;
    max-width: 600px;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.button {
    padding: 22px 20px;
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
    border: 1px solid #dadada;
    background-color: #ffffff;
    color:  #5a5a5a;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70vw;
    max-width: 400px;
}

.last {
    margin-bottom: 0px
}
        



@media (min-width: 756px) {
    
.hero-text h1 {
    font-size: 40px; 
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 20px;
}

.wrapper{
    height: 1700px;
}
.button {
    max-width: 1000px;
    font-size: 14px;
}

.button-container {
    max-width: 1000px;
}


.left, .right {
    width: 24px;
}


.container h3 {
    font-size: 15px;
}

.container h2 {
    font-size: 20px;
}

.container h4 {
    font-size: 13px;
}

}





@media (min-width: 1200px) {
    
.hero-text h1 {
    font-size: 50px; 
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 30px;
}

.container {

}


.button {
} 
}




